@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron offset-1 col-10">
        <h2 class="display-4">Welcome to ChatWithMe!</h2>
        <p class="lead mt-3">Connect with the world and share with friends!</p>
    </div>
</div>


