@model PostFormModel

@{
    ViewData["Title"] = "Create Post";
}

<form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="Create" class="col-md-8 offset-2">

    <h3 class="text-center mb-5 mt-2">Create a post which everyone can see:</h3>
    <hr>

    <div asp-validation-summary="ModelOnly" />
    <div class="form-group">
        <label asp-for="TextTitle"></label>
        <textarea asp-for="TextTitle" class="form-control" placeholder="Type your post title here..." rows="1"></textarea>
        <span asp-validation-for="TextTitle" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="TextContent"></label>
        <textarea asp-for="TextContent" class="form-control" placeholder="Type your post description here..." rows="3"></textarea>
        <span asp-validation-for="TextContent" class="text-danger" />
    </div>
    <div class="custom-file">
        <input asp-for="PostImage" class="form-control custom-file-input">
        <label class="custom-file-label">Choose your file...</label>
    </div>

    <div class="text-center mt-3">
        <button type="submit" formmethod="post" class="btn-info btn-lg">Post</button>
    </div>

    <hr>
</form>

<blockquote class="blockquote text-center mt-5 mb-5">
    <p class="mb-0">The power of social media is it forces necessary change.</p>
    <footer class="blockquote-footer">Eric Qualman</footer>
</blockquote>

<hr>